<div class="container-welcome">
    <h2>Welcome to the Home Page</h2>
    <h3>EMAIL:{{user.email}}</h3>
    <h4>ROL:{{user.rol}}</h4>
</div>

<form class="formulario-logout" action="/api/sessions/logout" method="POST">
    <button type="submit">Logout</button>
</form>